// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fire-icon {
    margin-left: 3px;
}