// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.task-bars {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}

ul {
    display: flex;
}

.task-command {
    margin-left: 8px;
    margin-right: 8px;
}